html {
  scroll-behavior: smooth;
}
.bg-even {
  background-color: rgb(230, 230, 230);
}
.btn-wrap {
  word-break: break-word;
  white-space: normal;
}
#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.navbar {
  border-bottom: 1px solid rgba(204, 204, 204, 0);
  transition-duration: 0.3s;
}
.border-b {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  transition-duration: 0.3s;
}
