html {
  scroll-behavior: smooth;
}
.bg-even {
  background-color: rgb(230, 230, 230);
}
.btn-wrap {
  word-break: break-word;
  white-space: normal;
}
#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
